.text-black{
    color: $black !important;
}
.bg-color{
    background-color: $bg-color !important;
}
.bd-color{
    border-color: $bd-color !important;
}
.material-icons{
    vertical-align: bottom;
}