.table{
    .material-icons.arrow{
        color: $dark-green;
    }
    a{
        color: $black;
        &:hover{
            color: $dark-green;
        }
    }
}
.page{
    .step{
        color: $black;
        padding: 4px !important;
    }
    .number{
        color: $black;
        padding: 6px 11.5px 6px 11.5px !important;
    }
    .active{
        background: $dark-green !important;
        color: #fff;
    }
}
.select-bg{
    position: relative !important;
    // background-color: $bg-color !important;
    
    &::before{
        content:"";
        position: absolute;
        z-index: 1;
        width: 80px;
        height: 80%;
        top:50%;
        transform: translateY(-50%);
        background-color: #2A8356 !important;
        opacity: 0.1;
    }
    
}
.modal-arrorUp{
    position: absolute;
    right:0; 
    top:50%; 
    transform: translateY(-50%);
    background-color: #fff;
}
.verifiedCheckBox{
    position: relative;
    &::after{
        content:"";
        position: absolute;
        width: 20px;
        height: 20px;
        z-index: 1;
        top:55%;
        left: -0.35%;
        transform: translateY(-55%);
        border: 1px solid #2A8356;
        background-color: #fff;
        border-radius: 50%;
    }
}
.verifiedCheckBox.actived{
    position: relative;
    &::after{
        content:"";
        position: absolute;
        width: 20px;
        height: 20px;
        z-index: 2;
        top:55%;
        left: -0.35%;
        transform: translateY(-55%);
        border: 1px solid #2A8356;
        background-color: #2A8356;
        border-radius: 50%;
    }
    &::before{
        content:"";
        position: absolute;
        width: 12px;
        height: 8px;
        z-index: 3;
        top:25%;
        left: 0.5%;
        border:2px solid #fff;
        border-top:none;
        border-right:none;
        border-radius: 0%;
        transform: translateY(-55%);
        transform:rotate(-50deg);
    }
}
.text-waring{
    color:#E3006E;
}